@model Airline.DAL.Models.Fligth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fligth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_Fligth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_Fligth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromCity.AirportCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhereCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhereCity.AirportCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
