@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity

@model IEnumerable<Airline.DAL.Models.Fligth>
@{
    ViewData["Title"] = "Index";
}
<div class="text-center ">
    <h1>
        <img src="~/Content/Images/FligthRevers.jpg" width="50" height="50" alt="Fligth" />
        Fligth List
        <img src="~/Content/Images/Fligth1.jpg" width="50" height="50" alt="Fligth" />
    </h1>
</div>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("admin") || User.IsInRole("student"))
{
    <p>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
}
<table class="table table-bordered alert-dismissible">

    <thead>
        <tr class="alert-info">
            <th>
                @Html.DisplayNameFor(model => model.Name_Fligth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhereCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCountry)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                Information
            </th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <th>
                    Operations
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="alert-link shadow text-center">
                <td >
                    @Html.DisplayFor(modelItem => item.Name_Fligth)
                    <h6 class="small">@Html.DisplayFor(modelItem => item.FromCity.AirportCode)@Html.DisplayFor(modelItem => item.FromCity.Id)⇾@Html.DisplayFor(modelItem => item.WhereCity.AirportCode)@Html.DisplayFor(modelItem => item.WhereCity.Id)</h6>
                    <img src="~/Content/Images/Fligth.png" width="50" height="40" alt="Fligth" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromCity.Name_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhereCity.Name_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FromCity.Country.Name_Country)
                    <div><img src="Content/Images/plane.png" width="55" height="50" alt="" /> </div>
                    @Html.DisplayFor(modelItem => item.WhereCity.Country.Name_Country)
                </td>
                <td>
                    @if (item.IsConfirmed == true)
                    {
                        <div class="btn-success btn-sm rounded  text-center ">Ready</div>
                    }
                    else
                    { <div class="btn-danger rounded  btn-sm  text-center">Not ready</div>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>

                <td class="">
                    <a class="btn btn-info w-100" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <td>

                        <a class="btn btn-warning small mb-1 w-100" asp-action="Edit" asp-route-id="@item.Id">Edit </a>
                        <a class="btn btn-danger small mb-1 w-100" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-primary small w-100" asp-controller="SelectFligthTeam" asp-action="ListSelectTeamFligth" asp-route-id="@item.Id">Team</a>

                    </td>
                }

            </tr>
        }
    </tbody>
</table>
