@model Airline.DAL.Models.FligthTeam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FligthTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fligth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fligth.Name_Fligth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team_Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team_Person.Name_Team)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
