@model IEnumerable<Airline.DAL.Models.Stewardess>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Stewardess</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th name="sort">
                <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(model => model.Name)">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th name="sort">
                <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(model => model.Surname)">
                    @Html.DisplayNameFor(model => model.Surname)
                </a>
            </th>
            <th name="sort">
                <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(model => model.Age)">
                    @Html.DisplayNameFor(model => model.Age)
                </a>
            </th>
            <th name="sort">
                <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(model => model.Experience)">
                    @Html.DisplayNameFor(model => model.Experience)
                </a>
            </th>
            <th name="sort">
                <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(model => model.Salary)">
                    @Html.DisplayNameFor(model => model.Salary)
                </a>
            <th name="sort">
                <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(model => model.Team_PersonId)">
                    @Html.DisplayNameFor(model => model.Team_Person)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team_Person.Name_Team)
            </td>
            <td>
                <img src="~/images/@item.ProfilePicture" class="rounded-circle" height="60" width="60" asp-append-version="true" alt="Image_Pilot"/>
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
