
@{
    ViewBag.Title = "FlightTeamResult";
}

@{
    ViewBag.Title = "Flitht_Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head runat="server">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css?Version=1" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<a asp-action="Index" >Team List</a> 
<br />
<h1 class="text-center" ; style="font-family:'Comic Sans MS'">Flight Teams</h1>
<br />
<br />
    <div class="float-left" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-4 ">
                <div class="Myclass">
                    <div class="Button_Create">
                        <a href="@Url.Action("Index","Radio_operator")"> <img src="@Url.Content("~/Content/Airline_Person/Steward.png")" alt="Home" width="150" height="150" card-img /></a>
                    </div>
                    @*    <img src="~/Content/pilot.png" width="150" height="150" card-img" />*@
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="card-body">
                    <h4 class="card-title ">Radio Operator</h4>
                    <p class="card-text">A navigator is the person on board a ship or aircraft responsible for its navigation. Broadcast weather reports and warnings. The navigator's primary responsibility is to be aware of ship or aircraft position at all times. </p>
                    <p class="card-text"><small class="text-muted"> </small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right " style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="Button_Create">
                    <a href="@Url.Action("Index","Stewardesses")"> <img src="@Url.Content("~/Content/Airline_Person/stewardess.png")" alt="Home" width="150" height="150" card-img /></a>
                </div>
                @*    <img src="~/Content/Steward.png" width="150" height="150" card-img" />*@
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h4 class="card-title">Stewardess</h4>
                    <p class="card-text">Flight attendants or cabin crew are members of an aircrew employed by airlines primarily to ensure the safety and comfort of passengers aboard commercial flights, on select business jet aircraft, and on some military aircraft.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="float-left " style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-4 ">
                <div class="Button_Create">
                    <a href="@Url.Action("Index","Pilots","")"> <img src="@Url.Content("~/Content/Airline_Person/pilot1.png")" alt="Home" width="150" height="150" card-img /></a>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Pilot</h4>
                    <p class="card-text">An aircraft pilot or aviator is a person who controls the flight of an aircraft by operating its directional flight controls. Must have legal right to live and work in Europe.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="Button_Create">
                    <a href="@Url.Action("Index","Navigators","")"> <img src="@Url.Content("~/Content/Airline_Person/Radio.png")" alt="Home" width="150" height="150" card-img /></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title">Dispatcher</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. A flight dispatcher assists in planning flight paths and other conditions. </p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
