@model Airline_Yurchenko.Helpers.Pagination.IndexViewModel
@addTagHelper *, Airline_Yurchenko
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Pilots</h1>
<p>
    <a class="btn btn-info" asp-action="Create" asp-controller="Pilots">Create New</a>
</p>
<form method="get">
    <div class="form-group form-inline">
        <label>Name: </label>
        <input name="name" value="@Model.FilterViewModel.SelectedName" class="form-control" />

        <label>Team: </label>
        <select name="company" asp-items="Model.FilterViewModel.Companies" class="form-control"></select>

        <input type="submit" value="Search" class="btn btn-outline-dark" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@Html.DisplayNameFor(e=>e.Users.GetEnumerator().Current.Name)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">
                @Html.DisplayNameFor(it => it.Users.GetEnumerator().Current.Name)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(e=>e.Users.GetEnumerator().Current.Surname)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">
                @Html.DisplayNameFor(it => it.Users.GetEnumerator().Current.Surname)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(e=>e.Users.GetEnumerator().Current.Age)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">
                @Html.DisplayNameFor(it => it.Users.GetEnumerator().Current.Age)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(e=>e.Users.GetEnumerator().Current.Experience)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">
                @Html.DisplayNameFor(it => it.Users.GetEnumerator().Current.Experience)
            </a>
        </th><th>
            <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(e=>e.Users.GetEnumerator().Current.Salary)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">
                @Html.DisplayNameFor(it => it.Users.GetEnumerator().Current.Salary)
            </a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(e=>e.Users.GetEnumerator().Current.Team_Person)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">@Html.DisplayNameFor(it => it.Users.GetEnumerator().Current.Team_Person)</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.GetEnumerator().Current.ProfilePicture)
        </th>
        <th>
            Operations
        </th>
    </tr>
    @foreach (var u in Model.Users)
    {
<tr>
    <td>@u.Name</td>
    <td>@u.Surname</td>
    <td>@u.Age</td>
    <td>@u.Experience</td>
    <td>@u.Salary</td>
    <td>@u.Team_Person.Name_Team</td>    @*??????*@
    
    <td>
        <img src="~/images/@u.ProfilePicture" class="rounded-circle" height="60" width="60" asp-append-version="true" alt="Image_Pilot"/>
    </td>
    <td>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@u.Id">Edit</a> |
        <a class="btn btn-info" asp-action="Details" asp-route-id="@u.Id">Details</a> |
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@u.Id">Delete</a>
    </td>
</tr> 
    }
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-company="@(Model.FilterViewModel.SelectedCompany)">

</page-link>
