@model IEnumerable<Airline.DAL.Models.Navigator>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Список пользователей</h1>
<form method="post">
<table class="table">
    <tr>
        <th name ="sort">
            <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(e=>e.Name)">
                @Html.DisplayNameFor(e=>e.Name)
            </a>
        </th>
        <th name="sort">
            <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(e=>e.Age)">
                @Html.DisplayNameFor(e => e.Age)
            </a>
        </th>
        <th name="sort">
            <a asp-action="Index" asp-route-sort="@Html.DisplayNameFor(e=>e.Team_PersonId)">
                @Html.DisplayNameFor(e => e.Team_Person)
            </a>
        </th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@Html.DisplayFor(item => @u.Name)</td>
            <td>@Html.DisplayFor(item => @u.Age)</td>
            <td>@Html.DisplayFor(item => @u.Team_Person.Name_Team)</td>
        </tr>
    }
</table>
</form>

